<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Document</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;
        
                    var requestData = { latitude: latitude, longitude: longitude };
        
                    fetch("/1", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(requestData)
                    })
                    .then(response => response.json())
                    .then(data => {
                        var weatherText = data.weather;
                        var cityname = data.city_name;
                        console.log(weatherText);
                        console.log(cityname);
                        var weatherTextElement = document.getElementById("weatherText");
                        var citynameElement = document.getElementById("cityname-h2");

                        if (weatherText === true) {
                            document.body.style.backgroundColor = "darkblue";
                            weatherTextElement.innerText = "";
                            citynameElement.innerText = cityname;
                        } else {
                            document.body.style.backgroundColor = "red";
                            weatherTextElement.innerText = "";
                            citynameElement.innerText = cityname;
                        }

                    })
                    .catch(error => {
                        console.error("Fehler beim Empfangen der Daten:", error);
                    });
                });
            } else {
                alert("Geolocation is not available in this browser.");
            }
        });
    </script>
    <style>
        .cityname-h2-style {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<body>
    <h1 id="weatherText" class="container">
        Loading Data...
    </h1>
    <div class="cityname-h2-style">
        <h2 id="cityname-h2">
            
        </h2>
    </div>
</body>
</html>
